<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                 <p class="lead text-center mt-3">os2display</p>
            </div>
        </div>   
    </div>
</footer>

<script src="./node_modules/jquery/dist/jquery.min.js"></script>
<script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="./node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>

