<!-- Fixed navbar -->
<nav class="navbar navbar-sub">
    <div class="navbar-brand">
        <span class="lead">Slides</span>
    </div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="btn btn-sm btn-primary d-flex justify-content-end" href="/create-new-slide">Create new slide</a>
        </li>
    </ul>
    <a class="btn btn-sm btn-primary d-flex justify-content-end" href="/create-new-slide">Create new slide</a>
    </div>
</nav>
   