<div class="content-toolbar content-toolbar-textproperties btn-toolbar" role="toolbar" aria-label="textProperties">
    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="textToolbarFontSize">
        <button id="font-size" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-font"></i><i class="fa fa-arrows-v"></i> 
        </button>
        <div class="dropdown-menu" aria-labelledby="textToolbarFontSize">
            <a class="dropdown-item text-small" href="#">Small</a>
            <a class="dropdown-item text-medium" href="#">Medium</a>
            <a class="dropdown-item text-large" href="#">Large</a>
        </div>
    </div>
    <div class="btn-group btn-group-sm mr-2" role="group" aria-label="Font-size">
        <button type="button" class="btn btn-secondary"><i class="fa fa-paint-brush"></i><span class="this-color"></span></button>
    </div>
    <div class="btn-group btn-group-sm" data-toggle="buttons">
        <button type="button" class="btn btn-secondary"><i class="fa fa-bold"></i></button>
        <button type="button" class="btn btn-secondary"><i class="fa fa-italic"></i></button>
    </div>
</div>
<script>


</script>